.user-challenge-stats {
  .day-checkbox-container {
    display: block;
  }

  .day-checkbox {
    margin: 0;
  }

  .divider {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  .MuiTypography-h6,
  .MuiTypography-body1 {
    font-style: italic;
  }

  .stats-description-label {
    opacity: 0.6;
  }

  .stats-value-label {
    font-weight: bolder;
  }

  .big-label {
    font-size: xxx-large;
  }
}
