.profile-header .MuiTypography-root {
  color: white;
}

.profile-header .avatar {
  width: 20vh;
  height: 20vh;
}

.profile-header .user-profile-item-container {
  display: flex;
  justify-content: center;
}
