.date-slider .swiper-slide {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: calc(min(1.3vw, 18px));
  box-sizing:border-box;
}

.date-slider .swiper-slide-active {
  color: white;
  background: black;
  transition: background 0.5s ease-out;
}
