.date-slider .swiper-slide {
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 1.3vw;
  box-sizing:border-box;
  -webkit-appearance: initial;
}

.date-slider .swiper-slide-active {
  color: white;
  background: black;
  transition: background 0.5s ease-out;
}
