.profile-header {
  .MuiTypography-root {
    color: white;
  }

  .username {
    color: rgb(218, 218, 218);
  }

  .avatar {
    width: 20vh;
    height: 20vh;
  }

  .user-profile-item-container {
    display: flex;
    justify-content: center;
  }
}
